################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/appsettings.json
/.vs
/EventoWeb.Secretaria/obj
/EventoWeb.Secretaria.WS/obj
/obj
/EventoWeb.Secretaria/bin/Debug/net9.0
/EventoWeb.Secretaria.WS/bin/Debug/net9.0
